@model IEnumerable<NGO.Models.Event>
@Styles.Render("~/Content/Table.css")
@{
    ViewBag.Title = "Event Management";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="form-group row">
    <div class="col-sm-6">
        <h2 class="event-header-space">Event Management</h2>
    </div>

    <div class="create-new-event new-event col-sm-6">
        <a href=" " id=item.EventID onclick="CreatePopup();">Create</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventEndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventEndDate)
            </td>
            <td class="new-event">
                <a href="#" id="@item.EventID" onclick="EditPopup(id);">Edit </a>
                |
                <a href="#" id="@item.EventID" onclick="DetailsPopup(id);">Details </a>
                |
                <a href="#" id="@item.EventID" onclick="DeletePopup(id);">Delete</a>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">

    EditPopup = function (id) {
        var url = '@Url.Action("Edit", "Events")';
        var fullLink = url + "/" + id;

        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    DetailsPopup = function (id) {

        var url = '@Url.Action("Details", "Events")';
        var fullLink = url + "/" + id;
        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    DeletePopup = function (id) {

        var url = '@Url.Action("Delete", "Events")';
        var fullLink = url + "/" + id;
        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    CreatePopup = function () {

        window.open('Create', "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

</script>