@model IEnumerable<NGO.Models.UserNGO>

@{
    ViewBag.Title = "Index";
}
@{ 
    Layout = "~/Views/Shared/AdminLayout.cshtml"; 
    }

<h2>Index</h2>

<p>
    <a href="#" onclick="CreatePopup();">Create</a>
</p>
<p>
    Hello, Admin
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <a href="#" id="@item.UserID" onclick="EditPopup(id);">Edit </a>
            |
            <a href="#" id="@item.UserID" onclick="DetailsPopup(id);">Details </a>
            |
            <a href="#" id="@item.UserID" onclick="DeletePopup(id);">Delete</a>
        </td>
    </tr>
}

</table>
<script type="text/javascript">

    EditPopup = function (id) {
        var url = '@Url.Action("Edit", "UserNGOes")';
        var fullLink = url + "/" + id;

        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    DetailsPopup = function (id) {

        var url = '@Url.Action("Details", "UserNGOes")';
        var fullLink = url + "/" + id;
        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    DeletePopup = function (id) {

        var url = '@Url.Action("Delete", "UserNGOes")';
        var fullLink = url + "/" + id;
        window.open(fullLink, "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

    CreatePopup = function () {
        window.open('Create', "PopupWindow", 'width=800px,height=800px,top=150,left=250');
    }

</script>
